body, html {
  height: 95%;
  margin: 15px;
  background-color: #ffffff;
}

a {
  color: white;
}

.slide-active {
  /* background-color: #90ccf4; */
  background-color: #DADFF7;
}

#aboutContainer {
  position: absolute;
  display: inline-block;
  transform: rotate(270deg);
  margin-top: 7.3%;
  z-index: 5;
  margin-left: 1%;
}

#about-column {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  width: 40%;
  padding-top: 0%;
}
#about-row {
  display: flex;
  flex-direction: row;
}

#prof {
  width: 35%;
  height: 35%;
  overflow: hidden;
  padding-left: 5%;
}

#greeting {
  font-family: 'Open Sans', sans-serif;
  color: Black;
  font-size: 2em;
  margin-top: 0%;


}

#blurb {
  font-family: 'Open Sans', sans-serif;
  color: black;
  opacity: 0.7;
  font-size: 1em;


}
:root {
  --mainColor: 	#e6c7db;
}

#blurb a {

  color: Black;
  font-weight: 700;
  opacity: 1;
  text-decoration: none;
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;

  text-decoration: none;
  transition: background-size .4s;

}
#blurb a:hover {

  background-size: 4px 50px;
  

}


.projectNav {
  position: absolute;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
  color: Black;
  opacity: 0.8;
  text-decoration: none;
}

#projectContainer {
  position: absolute;
  display: inline-block;
  transform: rotate(90deg);
  margin-top: 3.4%;
  margin-left: 32.2%;
  z-index: 5;
}

.aboutNav {
  position: absolute;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
  color: Black;
  opacity: 0.8;
  text-decoration: none;
}

#contactIcons {
  text-align: center;
}

#flag {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about {
  position: relative;
  /*background-color: #f78888;*/
  /* background-color: #f89f9f; */
  background-color: #C7DBE6;
}

#project {
  /* background-color: #f3d250; */
  background-color: #CEB1BE;
}



/*remove underline;*/



#backContainer {
  position: absolute;
  display: inline-block;
  margin-top: -32%;
  margin-left: 95%;
}

.backNav {
  position: absolute;
  color: Black;
  font-size: 100px;
  font-weight: 400;
  text-decoration: none;
  font-family: "Julius Sans One", sans-serif;
}

#prevContainer {
  position: absolute;
  margin-top: 6.5%;
  margin-left: .5%;
}

#me {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 30px;
  color: black;
  opacity: 0.7;
}

/* .circle {
  display: inline-block;
  height: 350px;
  width: 350px;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 200px;

  left: 15%;
  transform: translateX(-50%);

  overflow: hidden;
  position: relative;

  margin-right: 125px;
  
} */

#socmed {
  padding-left: 30px;
  padding-right: 30px;
}

#r {
  padding-right: 30px;
}

#name {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: black;
  font-size: 90px;
  opacity: 0.8;
}

#me {
  text-align: center;
}

.thumbnail {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 290px;
  overflow: hidden;
}

.caption {
  position: absolute;
  bottom: 0px;
  color: #e3e3e3;
  background: rgba(0, 0, 0, .70);
  text-align: center;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: all 200ms ease;
  font-size: 14px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 18px;
}

.caption p {
  padding: 10px;
  overflow: hidden;
  max-height: 160px;
}

.title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 16px;
}

.date {
  margin-bottom: 4px;
  font-style: italic;
  font-size: 12px;
}

.info {
  font-size: 14px;
  text-align: left;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 3px;
}

.thumbnail:hover>.caption {
  height: 160px;
  transition-duration: .2s;
  /*filter:blur(0.5px);*/
}

.thumbnailCaption {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 550;
  font-size: 18px;
  text-align: center;
  margin-top: 3px;
  color: black;
  opacity: .9;
}

.column {
  float: left;
  width: 35%;
  padding: 30px;
  padding-bottom: 2px;
}

.column img {
  margin-top: 25px;
  width: 100%;
  box-shadow: 2px 2px 2px #888888;
}

.row {
  margin-left: 16.5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.active, .dot:hover {
  background-color: #DADFF7;
}

}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hvr-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-skew:hover, .hvr-skew:focus, .hvr-skew:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}